<!DOCTYPE html>
<html lang="en">
    
    <link rel="stylesheet" href="css/product.css">
    <link rel="stylesheet" href="css/home.css">
    <title>Buy Iteams</title>
    
  </head>
  <body>
    <nav class="navbar">
      <div class="brand-title">BuyIteams</div>
      <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </a>
      <div class="navbar-links">
        <ul>
          <li><a href="cart.html">Cart</a></li>
          <li><a href="#">Orders</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </div>
    </nav>

<div class="product-main">
  <% user.forEach(function(user){%>
   
    <div class="product_container">
      <div class="img-box">
     <img src="<%=user.ImageUrl %>">
      </div>
<div class="text-box1">
<h1><%= user.ProductName %></h1>
<p>
  <%= user.ProductDescription %>
</p>
Quantity:
<select class="Q1" name="Quantity" id="Quantity">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>

       <h2> <%= user.ProductPrice %> per Kg</h2>
      
       
      
      <button>Add to Cart</button>
<button>buy now</button>
</div>
    </div>
    <%}); %>
  </div>
 </body>
</html>











